.container{
    display: flex;
    width: 100%;
    &__item{
        &:not(:last-child){
        border-right: 2px solid $baseColor;
        }
        padding: 20px;
        flex: 33.3;
    }
    &__place{
        display: block;
        padding: 10px;
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        width: 100%;
        background: rgba(219, 219, 219, 0.7);
    }
    &__title{
        text-align: center;
        font-size: 24px;
        width: 100%;
    }
}
.task{
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    padding: 30px;
    background: #686868;
    border-radius: 29px;
    &__status{
        display: block;
        left: 100%;
        position: relative;
        transform: translateX(-100%);
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background: rgb(20, 133, 238);
    }
    &__name{
        font-size: 24px;
    }
    &__link{
        display: block;
        width: fit-content;
        padding: 8px 11px;
        margin: 0 auto;
        font-weight: bold;
        font-size: 17px;
        background: #80CB74;
        transition: .3s all ease;
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        &:hover{
            background: #5e9051;
        }
    }
    &__file{
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        background: #CB8533;
        align-items: center;
        padding: 5px;
        transition: .3s background-color ease;
        &:hover{
            background: #a0621c;
        }
    }
    &__filename{
        color: #fff;
        font-size: 17px;
    }
    &__delfile{
        transform: rotate(45deg);
        color: red;
        line-height: 0.5;
        font-weight: bold;
        font-size: 40px;
    }
    &__add{
        line-height: 0.5;
        cursor: pointer;
        font-size: 35px;
        font-weight: bold;
        width: fit-content;
        margin:0;
        margin-top: 20px;
        transition: .3s transform ease;
        &:hover{
            transform: rotate(90deg);
        }
    }
    &__head{
        display: flex;
        justify-content: space-between;
    }
    &__points{
        position: relative;
        display: flex;
        width: 50px;
        align-items: center;
        justify-content: space-between;
        & > span{
            width: 15px;
            height: 15px;
            display: block;
            transform: translateY(5px);
            background: #fff;
            border-radius: 50%;
        }
    }
}
.task__context{
    position: absolute;
    background: #fff;
    z-index: 3;
    right: -25px;
    top: 0px;
    width: fit-content;
    padding: 10px 0;
    font-size: 16px;
    transition: .3s opacity ease;
    opacity: 0;
    visibility: hidden;
    &._active{
        opacity: 1;
        visibility: visible;
    }
}
.task__opt{
    white-space: nowrap;
    padding: 0 20px;
    &:not(:last-child){
        border-bottom: 1px solid #000;
    }
    
}